{% extends 'layouts/base.html' %}
{% load static %}
{% block title %} Tabular View {% endblock %}
{% block extrastyle %}
<style>
  
  body{
  padding-top:50px;
  background: #555;
}
.flip {
  -webkit-perspective: 800;   
          perspective: 800;
        position: relative;
        text-align: center;
}
.flip .card.flipped {
  -webkit-transform: rotatey(-180deg);
          transform: rotatey(-180deg);
}
.flip .card {
    width: 100%;
    height: 440px;
    -webkit-transform-style: preserve-3d;
    -webkit-transition: 0.5s;
    transform-style: preserve-3d;
    transition: 0.5s;
    background-color: #fff;
   
}
.flip .card .face {
  -webkit-backface-visibility: hidden ;
    backface-visibility: hidden ;
   z-index: 2;
}
.flip .card .front {
   position: absolute;
   width: 97%;
   z-index: 1;
}
.flip .card .front img{
  width: 100%;
  height: 100%;
}
.flip .card .img {
   position: relaitve;
   width: 100%;
   height: 178px;
   z-index: 1;
   border: 2px solid #000;
}
.flip .card .back {
  padding-top: 10%;
  -webkit-transform: rotatey(-180deg);
          transform: rotatey(-180deg);
  position: absolute;
}


  .table-responsive {
    min-height: .01%;
    overflow-x: auto;
  }
  img{
        max-width: 100%;
        max-height: 100%;
        display: block; /* remove extra space below image */
    }

  
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script type="text/javascript">

$(document).ready(function () {
    // Handler for .ready() called.
    $('html, body').animate({
        scrollTop: $('#item').offset().top
    }, 'slow');
});
</script>
{% endblock %}
{% load static %}
{% block content %}
<main id="main" class="main ">

  <div class="pagetitle">
    <h1>Tabular View</h1>
    
  </div><!-- End Page Title -->

  <div class="row">
    <div class="col-lg-12">
      {%include 'pages/tab1.html'%}
    </div>
  </div>
</main>
{% endblock %}

{% block extrascripts %} 

<script src="{% static 'assets/js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'assets/js/dashboard.js' %}"></script>
<script src="../../static/assets/css/styles.css"></script>
<script>


</script>
{% endblock %}